body {
    color: black;
}
.container-photogalery {
    margin-top: 82px;
}
.gallery__title {
    color: black;
    font-size: 44px;
    font-weight: bold;
}
.sec_gallery__link {
    text-decoration: none;
}
.sec_gallery__link:hover {
    color: #D51A1A;
    text-decoration: none !important;
}

.sec_gallery__link:hover {
    text-decoration: underline;
}
.card-photogalery__text {
    font-size: 16px;
    font-weight: 500;
    color: black;
}
/* Стили для больших экранов (дисплей максимум 1199 пикселей) */
@media (max-width: 1199px) {

 }

/* Стили для средних экранов (дисплей максимум 991 пикселей) */
@media (max-width: 991px) { 
    .card-photogalery {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
 }

/* Стили для маленьких экранов (дисплей максимум 767 пикселей) */
@media (max-width: 767px) { 

 }

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) { 
.sec_news__titleText {
    font-size: 33px !important;
}
}