.card {
    border-radius: 0 !important;
   
}
.card img {
    border-radius: 0 !important;
}
.news-page__title {
    color: black;
    font-size: 44px;
    font-weight: bold;
}
.news-page__text {
    font-size: 18px;
    font-weight: 400;
    color: black;
    font-weight: bold;
}
.news-page__footer-text {
    font-size: 16px;
    color: black;
}
.card {
    border-radius: none !important;
}