.menu-list a:hover {
color: #D51A1A;
}

.navbar-container {
    background-color: transparent;
}
.brand-wrapp__text {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

ul {
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.menu-list a:hover {
    text-decoration: underline;
}
.play-wrapp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #09622F;
}
.m-info-right_block {
    
}

.m-info {
 margin-top: 100px;   
}
.m-info-container {
    background-color: #F5F5F7;
    min-height: 496px;
}
.m-info_top-block__text {
    font-size: 16px;
}
.dropdown-item a {
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}
.dropdown-menu {
    width: 90%;
}
.dropdown {
    color: transparent;
}
/* Стили для больших экранов (дисплей максимум 1199 пикселей) */
@media (max-width: 1199px) { 
    .brand-wrapp__text {
        font-size: 13px !important;
    }
 }

/* Стили для средних экранов (дисплей максимум 991 пикселей) */
@media (max-width: 991px) { 
    .menu-list {
        padding-top: 20px;
    }
 }

/* Стили для маленьких экранов (дисплей максимум 767 пикселей) */
@media (max-width: 767px) { }

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {
    .brand-wrapp__text {
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    }
 }