.pleer-wrap__container {
   
}
.pleer-wrap {
    max-height: 60px; 
    min-height: 60px;
    background-image: url('../../images/bg-li.webp') ;
    background-color: transparent;
    position: relative;
    
}
.pleer-wrap:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
    z-index: 1;
}
.play-wrapp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #09622F;
    z-index: 10;
}
.play-wrapp__text {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter';
    z-index: 10;
    
}
.m-info-right_block {
    
}
.m-info-text {
    font-size: 20px;
    font-weight: bold;
}

.m-info {
 margin-top: 100px;   
}
.m-info-container {
    background-color: #F5F5F7;
    min-height: 496px;
}
.m-info_top-block__text {
    font-size: 16px;
}
/* Section News */
.sec_news {
    margin-top: 91px;
}
.sec_news__titleText {
    font-size: 44px;
    font-weight: bold;
}
.news-top__left-title {
    font-size: 18px;
    font-weight: bold;
}
.card-news_bigCard {
    border: 1px solid silver;
}
.card-newsP {
    font-size: 16px;
    padding-top: 10px;
}
.card-news_smallCard {
    border: 1px solid silver;
}
.news-smDate {
 margin: 0;
}
.card-title-sm {
    font-size: 14px;
}