.litress_container {
    background-color: #F5F5F7;
    color: black;
    min-height: 699px;
    margin-top: 83px;
    
}
.litress_aboutLitress {
    font-size: 44px;
    font-weight: 600;

}
.litres_firstRow {
    padding-top: 83px;
}
.wrapp-litres_book-1 {
    background-color: white;
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 369px;
}
.litres_twoRow {
    padding-top: 45px;
}
.litress-textBook {
    font-size: 16px;
    font-weight: 500;
}
.wrapp-letress__books {
    text-decoration: none;
    color: black;
}
a.wrapp-letress__books:hover .wrapp-litres_book-1 {
    box-shadow: 0px 0px 16px rgb(0 0 0 / 15%);
    }
    @media (max-width: 575px) { 
        .litress_aboutLitress {
            font-size: 33px ;
        }
     }
   