.img-play_v {
    position: relative;
}
.img-play_images {
    position: absolute;
    right: 70px;
    bottom: 10px;
}



 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) { 
    .img-play_images {
        right: 10px;
      
    }
 }

 /*Medium devices (tablets, 768px and up)*/
 @media (min-width: 768px) {
    .img-play_images {
        right: 10px;
      
    }
  }
 
 /*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) { 
    .img-play_images {
        right: 10px;
      
    }
 }
 
  /*X-Large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) { 
    .img-play_images {
        right: 10px;
      
    }
 }
 
  /*XX-Large devices (larger desktops, 1400px and up)*/
 @media (min-width: 1400px) { 
    .img-play_images {
    right: 10px;
  
}}