.container-goals {
  margin-top: 40px;  
}
.hr {
    color: black;
    height: 1px;
}
.goals-title {
    color: black;
}
.goals-title {
    font-size: 44px;
    padding-top: 30px;
    font-weight: bold;
}
.card-items {
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.card-big-items {
    color: #09622F;
    font-size: 40px;
    font-weight: bold;
    align-self: flex-end;
    
}
/* Стили для больших экранов (дисплей максимум 1199 пикселей) */
@media (max-width: 1199px) { }

/* Стили для средних экранов (дисплей максимум 991 пикселей) */
@media (max-width: 991px) { 
    .card-items {
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.card-big-items {
    font-size: 30px;
}

}


/* Стили для маленьких экранов (дисплей максимум 767 пикселей) */
@media (max-width: 767px) { 
    .card-items {
    color: black;
    font-size: 15px;
    font-weight: 400; }
}

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) { 
    .card-big-items {
        font-size: 30px;
}
}
